<!doctype html>
<html ng-app="app">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://npmcdn.com/draggabilly@2.1/dist/draggabilly.pkgd.min.js"></script>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.module.js"></script>
<script type="text/javascript" src="customclock/clock.controller.js"></script>
<script type="text/javascript" src="customweather/weather.controller.js"></script>
<script type="text/javascript" src="customnews/news.controller.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/owfont-regular.css">

    <div class="mContain" ng-controller="CustomMirrorController">
        <button class="submitButton btn btn-primary btn-lg" ng-click="submit()">Submit</button>

        <div class="inContain">
            <div class="news" ng-show="newson">
              <p>
                <news-drag-drop></news-drag-drop>
              </p>
            </div>

            <div class="clock" ng-show="clockon">
              <p>
                  <clock-drag-drop></clock-drag-drop>
              </p>
            </div>

            <div class="weather" ng-show="weatheron">
              <p>
                  <weather-drag-drop></weather-drag-drop>
              </p>
            </div>
        </div>

    </div>

</html>
