html{
  background-color:black;
  height: 1920px;
  min-width: 1080px;
}

body{
  background-color: #000;
}

.mContain{
  background-color: #222;
  min-height: 1920px;
  width: 1080px !important;
  margin: 0 auto;
  position: relative;
}

.inContain{
  background-color: #444;
  height: 1920px;
  width: 1080px;
  top: 5px;
  position: relative;
}

.clock{
  position: absolute;
  color: white;
  cursor: move;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 52px;
  padding: 10px 20px;
}

.weather{
  position: absolute;
  cursor: move;
  color: white;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding: 10px 20px;
}

.news{
  position: absolute;
  width: 800px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  cursor: move;
  padding: 10px 20px;
}

.news dt{
  font-size: 20px;
}

.news dd{
  font-size: 13px;
}

.submitButton {
  width: 100%;
}
