<!-- FORM TO TOGGLE COMPONENTS -->
<div id="mirror-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1> Toggle Components</h1>
        <form>
            <div class="form-group">
                <h3 >Weather:  <input ng-model="checkboxModel.weatheron" nginit="checked=false" type="checkbox" ></h3>
                <h3 >News:  <input ng-model="checkboxModel.newson" nginit="checked=false" type="checkbox" ></h3>
                <h3 >Clock:  <input ng-model="checkboxModel.clockon" nginit="checked=false" type="checkbox" ></h3>
            </div>
            <button type="submit" ng-click="save()" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</div>
