<!-- LOGIN FORM -->
<div class="col-md-3"></div>
<div class="col-md-6">
  <h1>Log In</h1>
  <form>
      <div class="form-group">
          <label>Email</label>
          <input type="text" ng-model="email" class="form-control" name="email">
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" ng-model="password" class="form-control" name="password">
      </div>

      <button type="submit" ng-click="login()" class="btn btn-warning btn-lg" id="loginBut">Login</button>
  </form>
</div>
