<nav class="navbar navbar-inverse">
	<div class="container-fluid" ng-controller="MainController">
		<div class="navbar-header">
			<a class="navbar-brand" href"#">Smart Mirror</a>
		</div>
		<ul class="nav navbar-nav">
			 <li class="active"><a ui-sref="home">Home</a></li>
			 <li ng-hide="isLoggedIn()"><a ui-sref="login">Login</a></li>
			 <li ng-hide="isLoggedIn()"><a ui-sref="signup">Signup</a></li>
			 <li ng-show="isLoggedIn()"><a ui-sref="customize-mirror">Customize Mirror</a></li>
			 <li ng-show="isLoggedIn()"><a ui-sref="toggle-components">Toggle Components</a></li>
			 <li ng-show="isLoggedIn()"><a ui-sref="claim-mirror">Claim Mirror</a></li>
			 <li ng-show="isLoggedIn()" ng-click="logout()"><a>Logout</a></li>
		</ul>
	</div>
</nav>
