<!--<script src="../signup.controller.js"></script>-->
<div class="col-md-3"></div>
<div class="col-md-6">
  <h1>Sign up</h1>
  <form>
      <div class="form-group">
          <label>Email</label>
          <input type="text" ng-model="email" class="form-control" name="email">
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" ng-model="password" class="form-control" name="password">
      </div>

      <input type="button" ng-click="signup()" class="btn btn-warning btn-lg" value="Sign Up"></input>
  </form>
</div>
