<div class="jumbotron text-center">
	<h1>Welcome!</h1>

	<p>Here you can manage your smart mirror remotely.</p>
	<p> You can choose to setup your preferences for location by clicking <span class="text-danger">
	Here</span>.
	</p>
	<p> Our <span class="text-danger">drag and drop editor</span> can also help you manage the look and feel. </p>
	<h2> Enjoy your Smart Mirror Experience. </h2>

</div>
