body
{
	background-color:black;
}

p1
{
	position: absolute; 
	bottom: 70px;
	left: 16px;
	color: white; 
	right: 0; 
	width: 200px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	z-index: -1;

}

