html{
  background-color:black;
  width: auto;
  height: 1080px;
}

.clock{
  position: absolute;
  color: white;
  width: 600px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 52px;
  padding: 10px 20px;
}

.weather{
  position: absolute;
  color: white;
  width: 250px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding: 10px 20px;
}

.news{
  position: absolute;
  width: 800px;
  color: white;
  font-family: 'Roboto', sans-serif;
  cursor: move;
  padding: 10px 20px;
}

.news dt{
  font-size: 20px;
}

.news dd{
  font-size: 13px;
}
